[includeIf "gitdir:~/repos/"]
  path = ~/.gitconfig_local
[includeIf "gitdir:~/repos/greymd/"]
  path = ~/.gitconfig_greymd
[includeIf "gitdir:~/repos/PolaClub/"]
  path = ~/.gitconfig_greymd
[includeIf "gitdir:~/repos/egison/"]
  path = ~/.gitconfig_greymd
[includeIf "gitdir:~/repos/shellgei/"]
  path = ~/.gitconfig_greymd
[includeIf "gitdir:~/repos/unkontributors/"]
  path = ~/.gitconfig_greymd
[alias]
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	fpr = "!f() { git fetch origin pull/$1/head:pr/$1; }; f"
	pom = "!git push origin $(basename $(git symbolic-ref refs/remotes/origin/HEAD || git remote set-head origin --auto | git symbolic-ref refs/remotes/origin/HEAD))"
	co = checkout
	ci = commit
	st = status
	ls = ls-files
	# check untracked files
	lsu = ls-files --others --exclude-standard
	# delete untracked files
	lsu-rm = "!git ls-files --others --exclude-standard -z | xargs -0 rm --"
	ac = !git-auto-commit
	res = restore -s HEAD
	resall = reset --hard HEAD

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = false
	editor = nvim
	symlinks = true
[push]
	default = matching
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
