[user]
	name = greymd
	email = yamadagrep@gmail.com
[alias]
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
[alias]
	fpr = "!f() { git fetch origin pull/$1/head:pr/$1; }; f"
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = false
	editor = vim
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
